.button {
    width: 350px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #8BC34A;
    color: #fff;
    border: 0;
    margin: 25px auto 0;
    border-radius: 12px;
    box-shadow: 0px 5px 1px 0px rgba(56, 80, 28, 1);
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 20px;
    cursor: pointer;
    transition: 0.5s;
}

.button:hover {
    background-color: rgb(96, 136, 51);
}